@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

button {
    background-color: rgb(177, 140, 107);
    color: #ffffff;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 14px;
    border: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 258px;
    height: 40px;
    margin-bottom: 2px;
    background-color: rgb(177, 140, 107);
    border: none;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 7.5px;
    color: #ffffff;
    font-size: 20px;
    padding: 5px;
}

body {
    background-color: rgb(254, 246, 228);
    padding-top: 50px;
}

main {
    background-color: rgb(121, 87, 57);
    width: 300px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 15px;
    border: 2px #ffffff solid;
    border-radius: 10px;
}